@charset "UTF-8";
html{
    font-family: 'Roboto', sans-serif;
}

/* Box Model 
*/

header{
    display: flex; /* displays the elements next to each other. */
    align-items: center;
    justify-content: space-between;
}